:root {
  --bgoriginal: url("./assets/sunny.jpeg");
  --rain: url("./assets/rain.jpg");
  --thunder: url("./assets/thunder.jpeg");
  --cloudy: url("./assets/cloudy.jpeg");
  --haze: url ("./assets/Haze.jpg");
}

* {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  box-sizing: border-box;
}

body {
  background-image: var(--bgoriginal);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  text-align: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;

}

input {
  font-size: larger;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.searchButton {
  padding: 10px 15px;
  background-color: rgb(11, 153, 255);
  font-size: large;
  border-radius: 5px;
  transition: 0.3s ease;
}
#data {
  text-align: center;
}

#delete {
  padding: 30px 20px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 7px;

  text-align: left;
}

.searchButton:hover {
  box-shadow: -3px -3px 10px #828282,
   2px 2px 10px #00f0ff;
}
